*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; // 1rem = 10px;   62.5% of 16px = 10px;

  @include respond(tab-land) {
    // width < 1200px;
    font-size: 56.25%; // 1rem = 9px;   56.25% of 16px = 9px;
  }

  @include respond(tab-port) {
    // width < 900px;
    font-size: 50%; // 1rem = 8px;   50% of 16px = 8px;
  }

  // @include respond(phone) {
  //   // width < 600px;
  //   font-size: 30%; // 1rem = 4.8px;   30% of 16px = 4.8px;
  // }

  @include respond(big-desktop) {
    // width > 1800px;
    font-size: 75%; // 1rem = 12px;   75% of 16px = 12px;
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;
  @include respond(tab-port) {
    padding: 0;
  }
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}
